[Unit]
Description=Update PureAntiDDoS from GitHub
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
EnvironmentFile=-/etc/puredos/puredos.env
Environment="PATH=/usr/local/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/local/sbin/puredos-update
TimeoutStartSec=5min
